<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevf@pwnpx.pbz</string>
	<key>contactName</key>
	<string>Chris Thomas</string>
	<key>description</key>
	<string>Syntax highlight for the &lt;a href="http://www.double.co.nz/dylan/"&gt;Dylan&lt;/a&gt; programming language.</string>
	<key>name</key>
	<string>Dylan</string>
	<key>ordering</key>
	<array>
		<string>475B8369-3520-4B4C-BBA1-1D1229C6F397</string>
		<string>00E061FF-71A0-4E4E-9F66-30678B2144FA</string>
		<string>0B637B57-866E-4C0E-A105-9CD94AE90C97</string>
		<string>25234BEA-1E99-4692-9DDA-00AE8F92AE3C</string>
		<string>7E074E76-1515-4B0D-BFAB-E0D9D8854163</string>
		<string>5C4C476C-9AB1-4CCF-B7A8-89921315E3B9</string>
	</array>
	<key>uuid</key>
	<string>4F436B87-0F1F-4EFF-B040-776C23E700E9</string>
</dict>
</plist>
